
@media (min-width: 700px) {
	main {
        max-width: 1600px;
        justify-content: center;    
    }
    
    header h1 {
        font-size: 50px;
    }

    #menu::before {
        font-size: 70px;
    }

    #menu {
        top: 1.3rem;
    }

    .navigation {
        padding: 0.5rem 0;
    }

    .home {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
    }

    .home section {
        margin: 10px;
    }

    #weather-info p {
        font-size: 20px;
    }

    /* --------------------------project css----------------------------- */
    .projectsdiv {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        padding: 50px;
		place-items: center; 
	}

    .g-navigation {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    /* -------------------------- profiles css ---------------------------- */
    .profile-gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        padding: 50px;
		place-items: center; 
	}

    .profile-button {
        padding: 1rem 3rem;
        right: 80px;
        bottom: 20px;
    }

    .profile-info p {
        text-align: justify;
        padding: 2rem 5rem;
    }

    .profiles-card h4 {
        font-size: 17px;
    }

    #profileModal h1 {
        font-size: 50px;
    }

    dialog button {
        padding: 1.45rem;
    }

    /* ------------------------------------ Contact CSS -------------------------------------- */
    .form-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        padding: 0 50px;
    }

     fieldset 
    {
        padding: 1.5rem 5rem 3rem 5rem;
    }

    .message, aside {
        padding: 10rem 3rem;   
        text-align: justify; 
    }
   
    aside h3 {
        padding-bottom: 1rem;
    }

    aside p {
        text-align: justify;
    }

    .message h3 {
        text-align: center;
    }

}

@media (min-width:1000px){
    header {
        display: flex;
        justify-content: space-between;
    }

    main {
        max-width: 2000px;
    }
    
    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    ul.menuLinks, ul.menuLinks.open {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    ul.menuLinks li a {
        display: block;
        flex: 1 1 100%;
        padding-left: 50px;
        padding-right: 50px;
    }

    .menuLinks li {
        flex: 1;
    }
}
