@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #2c4f3f;
    --secondary-color: #0c2219;
    --text-color: #000000;
    --accent1-color: #FFFFFF;
    --accent2-color: #c9c9c9;

    --heading-font: 'Bebas Neue', sans-serif;
    --paragraph-font: 'Arial', sans-serif;
    
}


header, footer {
    background-color: var(--primary-color);
    padding: 1rem;
    color: var(--accent1-color);
    font-family: var(--heading-font);

}


.profile {
    display: flex;
    flex-wrap: wrap;
}


.name h1 {
    font-size: 70px;
    padding: 0;
    margin: 0;
}

.name p {
    position:absolute;
    top: 87px;
    font-size: 20px;
}

.name {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 0.50rem;
}

.nav {
    padding-top: 15px;
}

.navigation {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

.navigation ul {
    overflow: hidden;
}

.navigation.open {
    grid-template-rows: 1fr;
}


ul.menuLinks li a {
    background-color: var(--primary-color);
    border: 1px solid #7e7c7c;
    display: block;
    padding: 1rem;
    text-decoration: none;
    font-family: var(--heading-font);
    font-size: 30px;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
}

ul.menuLinks li a.active {
    color: var(--text-color);
    background-color: var(--accent2-color);
}


ul.menuLinks li a:hover {
    color: var(--secondary-color);
    background-color: var(--accent1-color);
}

ul.menuLinks {
    list-style-type: none;
}

#menu::before {
	content: "☰";
    font-size: 70px;
    color: var(--accent1-color);
}

#menu.open::before {
	content: "X";
    color: var(--accent1-color);
}

#menu {
	font-size: 2rem;
	border: 0;
	background: none;
	position: absolute;
	top: 0.75rem;
	right: 1rem;
}


body {
    background-color: var(--accent2-color);
}


.banner img {
    width: 100%;
    height: auto;
    border: 2px solid var(--secondary-color);
}

.banner {
    position: relative;
    padding: 1rem;
    padding-bottom: 0;
}

.banner a {
    position: absolute;
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    padding: 1rem;
    border-radius: 10px;
    right: 40px;
    bottom: 30px;
    font-family: var(--heading-font);
    font-size: 20px;
}

.banner a:hover {
    background-color: var(--accent1-color);
    color: var(--text-color);
}

.home {
    padding: 1rem;
}

.home h2 {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    padding: 0.50rem;
    padding-left: 1rem;
    font-family: var(--heading-font);
    font-size: 30px;
    font-weight: 500;
}

section {
    background-color: var(--accent1-color);
    margin: 15px;
}

section p {
    padding: 1rem;
    font-family: var(--paragraph-font);
    color: var(--text-color);
    font-size: 17px;
}

#weather-info {
    display: flex;
    flex-direction: row;
}


footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

footer p {
    font-size: 15px;
}

footer div {
    margin: 10px 0;
}

.socmed {
    padding-top: 1rem;
}

.socmed a {
    text-decoration: none;
    margin: 0 5px;
}





