@media (min-width:1000px){
    header {
        display: flex;
        justify-content: space-between;
    }
    
    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    ul.menuLinks, ul.menuLinks.open {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    ul.menuLinks li a {
        display: block;
        flex: 1 1 100%;
        padding-left: 50px;
        padding-right: 50px;
    }

    .menuLinks li {
        flex: 1;
    }

    #weather-info p {
        font-size: 1.5vw;
    }

    .info-box {
        max-width: 590px;
        margin: 30px;
    }

    .info-box p {
        font-size: 17px;
    }
    
    .info-box h1 {
        font-size: 40px;
    }

    .button-con a {
        font-size: 25px;
    }

    #allplaces {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #allplaces div figure img {
        width: 300px;
        height: 250px;
        margin: 0px 5px; 
    }

}