/* ALL PAGES */

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #2c4f3f;
    --secondary-color: #0c2219;
    --text-color: #000000;
    --accent1-color: #FFFFFF;
    --accent2-color: #c9c9c9;

    --heading-font: 'Bebas Neue', sans-serif;
    --paragraph-font: 'Arial', sans-serif;
    
}


header, footer {
    background-color: var(--primary-color);
    padding: 1rem;
    color: var(--accent1-color);
    font-family: var(--heading-font);

}


.profile {
    display: flex;
    flex-wrap: wrap;
}


.name h1 {
    font-size: 48px;
    padding: 0;
    padding-top: 15px;
    margin: 0;
}

.name p {
    position:absolute;
    top: 87px;
    font-size: 15px;
}

.name {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 0.50rem;
}

.nav {
    padding-top: 15px;
}

.navigation {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

.navigation ul {
    overflow: hidden;
}

.navigation.open {
    grid-template-rows: 1fr;
}


ul.menuLinks li a {
    background-color: var(--primary-color);
    border: 1px solid #7e7c7c;
    display: block;
    padding: 1rem;
    text-decoration: none;
    font-family: var(--heading-font);
    font-size: 30px;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
}

ul.menuLinks li a.active {
    color: var(--text-color);
    background-color: var(--accent2-color);
}


ul.menuLinks li a:hover {
    color: var(--secondary-color);
    background-color: var(--accent1-color);
}

ul.menuLinks {
    list-style-type: none;
}

#menu::before {
	content: "☰";
    font-size: 70px;
    color: var(--accent1-color);
}

#menu.open::before {
	content: "X";
    color: var(--accent1-color);
}

#menu {
	font-size: 2rem;
	border: 0;
	background: none;
	position: absolute;
	top: 1.50rem;
	right: 1rem;
}


body {
    background-color: var(--accent2-color);
}


.banner img, .banner-home img {
    width: 100%;
    height: auto;
    border: 2px solid var(--secondary-color);
}


.banner, .banner-home {
    position: relative;
    padding: 1rem;
    padding-bottom: 0;
}

.banner a {
    position: absolute;
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    padding: 1rem;
    border-radius: 10px;
    right: 40px;
    bottom: 30px;
    font-family: var(--heading-font);
    font-size: 20px;
}

.banner a:hover {
    background-color: var(--accent1-color);
    color: var(--text-color);
}

.info-box {
    position: absolute;
    background-color: rgb(44, 79, 63, 0.9);
    color: var(--accent1-color);
    padding: 2rem;
    margin: 20px 30px 20px 20px;
}

.info-box h1 {
    font-family: var(--heading-font);
    font-size: 7vw;
}

.info-box p {
    font-family: var(--paragraph-font);
    text-align: justify;
    font-size: 3vw;
}

.button-con {
    padding-top: 1rem;
    margin-top: 10px;
    margin-left: 0px;
}

.button-con a {
    color: var(--accent1-color);
    text-decoration: none;
    background-color: var(--secondary-color);
    padding: 0.50rem 1rem;
    margin-right: 5px;
    font-family: var(--heading-font);
    font-size: 5vw;
    border-radius: 10px;
    
}

.button-con a:hover {
    background-color: var(--accent2-color);
    color: var(--text-color);
}

.home {
    padding: 1rem;
}

.home h2 {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    padding: 0.50rem;
    padding-left: 1rem;
    font-family: var(--heading-font);
    font-size: 30px;
    font-weight: 500;
}

.menu-button {
	text-align: center;
    padding: 1rem;
}

.menu-button button {
    padding: 0.75rem 35px;
    background-color: var(--primary-color);
}

.menu-button button:hover {
    background-color: var(--secondary-color);
}

section {
    background-color: var(--accent1-color);
    margin: 15px;
}

section p {
    padding: 1rem;
    font-family: var(--paragraph-font);
    color: var(--text-color);
    font-size: 17px;
}

.weather-container {
    display: flex;
    flex-direction: row;
}

#weather-info p, #forecast-info p {
    font-size: 15px;
    padding-bottom: 10px;
}

#weather-icon {
    filter: invert(70%); 
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

footer p {
    font-size: 15px;
}

footer div {
    margin: 10px 0;
}

.socmed {
    padding: 1rem 0;
    text-align: center;
}

.socmed a {
    text-decoration: none;
    margin: 0 5px;
}

/* ALL PAGES */



/* DIRECTORY */

#business-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    text-align: center;
    padding: 0;
}

.b-cards {
    background-color: var(--accent1-color);
    margin: 10px;
    border: 2px solid var(--secondary-color);
}

.business-name {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.50rem;
    font-size: 30px;
    font-family: var(--heading-font);
    border-bottom: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

.level {
    padding: 0.25rem 0 0 0;
    font-weight: 100;
    font-size: 15px;
}

.p-container {
    text-align: center;
    padding: 1rem 0;
}

.p-container p {
    margin: 0;
    padding: 0 1rem 0.75rem 1rem;
    font-size: 4vw;
}


.p-container span {
    font-family: var(--heading-font);
    font-size: 18px;
    color: var(--secondary-color);
}

.logo-container {
    /* padding-left: 1rem; */
    padding-top: 1rem;
}

.logo-container img {
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 2fr 1fr;
	margin: 0;
    padding: 0.50rem;
    border-radius: 0;
    border: none;
    align-items:start;
}

.list section img {
	display: none;
}

.list section h2 {
    font-size: 12px;
	font-family: var(--paragraph-font);
    border-bottom: none;
}

.list .p-container {
    display: flex;
    flex-direction: row;
}

.list .level {
    margin-top: 5px;
    font-size: 3vw;
}

.list p {
    margin: 0;
    padding: 0 0.50rem;
    font-size: 3vw;
}


.list section:nth-child(even) {
	background-color:#e2f5e0;
}

.list section {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.list section .p-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    
}

/* SPOTLIGHT */

#spotlight {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    text-align: center;
    padding: 0;
    border-radius: 10px;
}

.s-cards {
    border-radius: 20px;
    background-color: var(--accent1-color);
    margin: 10px;
    border: 2px solid var(--secondary-color);
}

.sinfo-container {
    display: flex;
}

.sbusiness-name {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.50rem;
    font-size: 30px;
    font-family: var(--heading-font);
    border-bottom: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

.slevel {
    padding: 0.25rem 0 0 0;
    font-weight: 100;
    font-size: 15px;
}

.sp-container{
    text-align: left;
    padding: 1rem 0;
}


.sp-container p, .ssite{
    margin: 0;
    padding: 0 1rem 0.75rem 1rem;
    font-size: 4vw;
}

.sp-container span {
    font-family: var(--heading-font);
    font-size: 18px;
    color: var(--secondary-color);
}

.slogo-container {
    padding-left: 1rem;
    padding-top: 1rem;
}

.slogo-container img {
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
}


/* JOIN PAGE */
.intro-join {
    padding: 1rem;
    text-align: center;
    margin-bottom: 20px;
}

.intro-join h2 {
    font-family: var(--heading-font);
    font-size: 40px;
}

.intro-join p {
    font-family: var(--paragraph-font);
}

.membership-details {
    display: flex;
    flex-direction: column;
    background-color: var(--accent2-color);
    align-items: center;
}

.member-level {
    text-align: center;
    padding: 2rem;
    margin: 20px;
    background-color: var(--accent1-color);
    border-radius: 10px;
    box-shadow: 3px 3px 8px 3px var(--secondary-color);
    animation-timing-function: ease-in-out;
}

.member-level:nth-child(1) {
    animation-duration: 1.3s, 6s;
    animation-name: slide-up, backgroundColorChange;
    animation-iteration-count: 1, infinite;
}

.member-level:nth-child(2) {
    animation-duration: 1.6s, 6.3s;
    animation-name: slide-up, backgroundColorChange;
    animation-iteration-count: 1, infinite;
}

.member-level:nth-child(3) {
    animation-duration: 1.9s, 6.6s;
    animation-name: slide-up, backgroundColorChange;
    animation-iteration-count: 1, infinite;

}

.member-level:nth-child(4) {
    animation-duration: 2.1s, 6.9s;
    animation-name: slide-up, backgroundColorChange;
    animation-iteration-count: 1, infinite;
}

@keyframes slide-up{
    from {
        transform: translateY(150vh);
        opacity: 0;
    }

    to {
        transform: translateY(0); 
        opacity: 1;
    }
}

@keyframes backgroundColorChange {
    0% { background-color: rgb(255, 255, 255); }
    100% { background-color: rgb(216, 234, 177); }
}


.learn-more {
    padding: 0.2rem 2rem;
    font-family: var(--paragraph-font);
    font-size: 15px;
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

.learn-more:hover {
    background-color: var(--secondary-color);
}

.member-level h3 {
    font-family: var(--heading-font);
    padding-bottom: 10px;
    font-size: 8vw;
}

.form-div {
    padding: 1rem;
    background-color: rgb(241, 241, 241);
    max-width: 600px;
    
}

label {
  display: block;
  font-size: 5vw;
  color: var(--text-color);
  padding-top: .2rem;
  font-family: var(--paragraph-font);
}

form h3 {
  font-size: 17px;
  margin: 1.5rem 0 .2rem 0;
  border-bottom: 1px solid #eee;
  font-family: var(--paragraph-font);
}
form h2 {
    font-family: var(--heading-font);
    font-size: 30px;
    padding-bottom: 10px;
    text-align: center;
}

input[type=text],
input[type=tel],
input[type=date],
input[type=email],
select {
  display: block;
  margin: .1rem 0 1rem 0 ;
  padding: .3rem;
  border: 1px solid #999;
  border-radius: 4px;
  border-left-width: 5px;
  border-left-color:#555;
  font-size: 1rem;
  color: #3D405B;
  width: 90%;
}
input[type="radio"] {
    width: 17px; 
    height: 14px; 
    margin: 8px 0;
  }
textarea {
    display: block;
    width: 90%;
    margin: .1rem 0 1rem 0 ;
    padding: .3rem;
}
.desc-label {
    margin-top: 10px;
}
input:required {border-left-color: #d70000;}
input:focus {border-left-color: black; outline:none;}
input:required:valid{border-left-color: green;}

input[type=submit] {
  border: none;
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  border-radius: 1rem;
  padding: .75rem 0;
  margin: 2rem 0;
  font-size: 1.6rem;
  font-family: var(--heading-font);
  width: 100%;
}
input[type=submit]:hover {
    background-color: var(--secondary-color);
}


  
dialog {
    border: 1px solid black;
    border-radius: .25rem;
    padding: 1rem;
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-family: 'Roboto Condensed', sans-serif; 
    overflow-x: hidden;
    opacity: 0; 
    animation: fadeIn 0.8s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

#m-details h2, #m-details p.desc1, #course-details p.desc3, #closeModal {
    animation-duration: 1.5s;
    animation-name: slide-in-left;
}

@keyframes slide-in-left {
    from {
        transform: translate(-150vw, 0);
    }

    to {
        transform: translate(0, 0); 
    }
}

#m-details h3, #m-details p.desc2 {
    animation-duration: 1.5s;
    animation-name: slide-in-right;
}
@keyframes slide-in-right {
    from {
        transform: translate(150vw, 0);
    }

    to {
        transform: translate(0, 0);
    }
}

::backdrop {
    background-color: rgb(159, 159, 159, 0.4);
}

dialog button {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: .59rem 1.5rem;

}

#m-details h2 {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;

}

#m-details h3 {
    padding: 15px 1rem;
    font-size: 17px;
}

#m-details p {
    padding-top: 0;
    font-family: var(--paragraph-font);
}

#closeModal{
    font-size: 25px;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
}

#closeModal:hover {
    background-color: rgb(109, 136, 91);
}

/* THANK YOU */
.application {
    text-align: center;
    font-family: var(--heading-font);
    font-size: 40px;
}

#thanks {
    background-color: var(--accent1-color);
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 20px;
    border: 2px solid var(--primary-color);
    box-shadow: 3px 4px 8px 4px var(--secondary-color);
    margin-bottom: 30px;
    position: relative;
}

#thanks h2 {
    font-family: var(--heading-font);
    font-size: 35px;
}

#thanks h2, .app {
    margin: 10px 0;
}

.sub-details {
    margin: 10px 0;
}

.sub-details h3 {
    margin: 30px 0 10px 0;
    font-size: 25px;
    font-family: var(--heading-font);
}

.sub-details p, .app {
    font-family: var(--paragraph-font);
    font-size: 17px;
}


/* DISCOVER */
* {
    box-sizing: border-box;
}

#allplaces div {
    margin: 1rem 8px;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    background-color: var(--accent1-color);
    overflow: hidden;
    box-shadow: 6px 3px 9px 3px #333;

    display: grid;
    grid-template-areas: 
    "placename"
    "photo"
    "placedesc"
    "location"
    "button"
    ;
}

#allplaces div h2 {
    margin: 1rem 10px;
    font-family: var(--heading-font);
    font-size: 30px;
    grid-area: placename;
}

#allplaces div p {
    margin: 10px;
    padding: 0;
    font-family: var(--paragraph-font);
    grid-area: placedesc;
}

#allplaces div address {
    margin: 0.25rem 1rem;
    grid-area: location;
}

#allplaces div figure {
    grid-area: photo;
}

#allplaces div figure img {
    width: 100%;
}

#allplaces div figure img:hover {
    border-radius: 15px 150px;
}

#allplaces div button {
    padding: .50rem;
    margin: 1rem 10px;
    font-family: var(--paragraph-font);
    background-color: var(--primary-color);
    color: var(--accent1-color);
    border-radius: 30px;
    grid-area: button;
}

#allplaces div button:hover {
    background-color: var(--secondary-color);
}

.discover section {
    background-color: var(--accent2-color);
}


.discover h1 {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    padding: 0.5rem 1rem;
    font-family: var(--heading-font);
}

.discover p {
    padding: 1rem;
    margin-top: 0;
    padding-top: 0;
    font-family: var(--paragraph-font);
}

.welcome {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 3s bgblink infinite;
}

@keyframes bgblink {
    0% { background-color: var(--secondary-color); }
    50% { background-color: var(--primary-color); }
    100% { background-color: var(--secondary-color); }
}


#here {
    font-family: var(--heading-font);
    font-size: 30px;
    padding: 1rem;
    color: var(--accent1-color);
}

h1 {
    font-family: var(--heading-font);
    font-size: 40px;
    padding: 0;
    margin: 1rem 0;
    text-align: center;
}



