@media (min-width:600px) {
    
    .info-box h1{
        font-size: 30px;
    }

    .info-box p {
        font-size: 15px;
    }

    .button-con a {
        font-size: 20px;
        padding: 0.50rem 2rem;
    }

    @media (min-width:1000px){
        header {
            display: flex;
            justify-content: space-between;
        }
        
        #menu {
            display: none;
        }

        .navigation {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
        }
    
        ul.menuLinks, ul.menuLinks.open {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    
        ul.menuLinks li a {
            display: block;
            flex: 1 1 100%;
            padding-left: 50px;
            padding-right: 50px;
        }
    
        .menuLinks li {
            flex: 1;
        }

        #weather-info p {
            font-size: 1.5vw;
        }

        .info-box {
            max-width: 590px;
            margin: 30px;
        }

        .info-box p {
            font-size: 17px;
        }
        
        .info-box h1 {
            font-size: 40px;
        }

        .button-con a {
            font-size: 25px;
        }

    }

    .name h1 {
        font-size: 70px;
        padding-top: 0;   
    }

    .name p {
        font-size: 20px;
    }


    main {
        max-width: 1500px;
        padding: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .home {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-gap: 15px;
    }

    section {
        margin: 20px 0;
    }
      
    .p-container p {
        font-size: 15px;
    }

    .list section h2 {
        font-size: 15px;
    }

    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }

    #business-cards.list {
        display: flex;
        flex-direction: column; 
        padding: 0;
    }

    #forecast-info p {
        font-size: 1.8vw;
    }

    .list .level {
        font-size: 1vw;
    }

    .sp-container p {
        font-size: 15px;
    }
}