@media (min-width: 600px) {

    #menu {
        display: none;
    }

    ul.menuLinks, ul.menuLinks.open {
        display: flex;
        justify-content: space-evenly;
    }

    ul.menuLinks li a {
        border: none;
        padding: 1rem 6.04rem;
    }

    .navigation {
        grid-template-rows: 1fr;
    }

    .profile h1 {
        color: aliceblue;
        font-size: 60px;
        font-family: "Jersey 10", sans-serif;
    }
    
    
    main {
        max-width: 1400px;
        padding: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    
    .card {
        margin: 0.75rem;
    }
        
    .cert {
        grid-column: 1/4;
    }

    .link:hover {
        color: green;
    }

    .certificates {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }

    .c-nav a {
        padding-left: 60px;
        padding-right: 60px;
    }
}